body{
    background-image: url('../../Asset/backgroundStaff.jpg');

}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-fp{
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    width: 500px;
    padding-left: 33px;
    padding-right: 30px;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
 }

.forgotPassword{
    display: flex;
    padding:10px;
 }

 table td{
    padding:10px;
 }

 #submit{
    margin-top: 10px;
    margin-left:220px;
    background-color: blue;
    border-radius: 5px;
    border:hidden;
    height:30px;
    width: 100px;
    color:white;
 }

 a{
    padding:10px;
    text-decoration: none;
 }