body{
    background-image: url('../Asset/backgroundStaff.jpg');

}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
   margin-top: 100px;
   padding-left:50px;
}

.container-AdminUpdateProfile{
   display: flex;
   align-items: flex-start;
   width: 550px;
   padding-right: 10px;
   margin: auto;
   margin-top: 30px;
   margin-left: 10px;
   padding-bottom: 30px;
 }

 .AdminUpdateProfile{
    display: flex;
    padding:10px;
 }

 table td{
   padding-bottom:10px;
}
 
#kemaskiniBtn{
    margin-top: 20px;
    margin-left:360px;
    background-color: blue;
    border-radius: 5px;
    border:hidden;
    height:30px;
    width: 100px;
    color:white;
 }