body{
    background-image: url("../Asset/backgroundStaff.jpg");
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
  margin-top: 100px; 
}

.container-StaffRegForm{
   display: flex;
   align-items: flex-start;
   width: 700px;
   padding-right: 10px;
   margin: auto;
   margin-top: 30px;
   margin-left: 10px;
   padding-bottom: 30px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 40px;
  }

  #registrationTable, td, tr{
    padding:10px;
  }

  input[type=text]
  {
    width:405px;
    height:30px;
  }

  #submit{
    margin-top: 10px;
    margin-left:50px;
    background-color: blue;
    border-radius: 5px;
    border:hidden;
    height:30px;
    width: 100px;
    color:white;
 }


