body{
    background-image: url('../../Asset/background.jpg');

}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-ApplicantViewProfile{
    border:5px solid;
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    width: 530px;
    padding-left: 30px;
    padding-right: 10px;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
 }

 .ApplicantViewProfile{
    display: flex;
    padding:10px;
 }
 
 table td{
    padding:5px;
 }

 #kemaskiniBtn{
    margin-top: 10px;
    margin-left:205px;
    background-color: blue;
    border-radius: 5px;
    border:hidden;
    height:30px;
    width: 100px;
    color:white;
 }