body{
    background-image: url('../../Asset/background.jpg');

}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-registration{
    /*display: flex;*/
    align-items: flex-start;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 10px;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
 }

 .registration{
    display: flex;
    padding:10px;
 }
 
 table td{
    padding:2px;
 }

 #submit{
    margin-top: 10px;
    margin-left:800px;
    background-color: blue;
    border-radius: 5px;
    border:hidden;
    height:30px;
    width: 100px;
    color:white;
 }

 a{
    padding:10px;
    text-decoration: none;
 }