body{
    background-image: url("/app/ApplicationLayer/Asset/background.jpg");
}
.content{
    position: fixed;
    overflow: auto;
    background-color: #f2f2f2;
    height: 450px;
    width: 850px;
    margin-left: 390px;
    margin-top: 150px;
}
.box{
    background-color:lightgray;
    
    }
    .smallbox{
    background-color:lightgray;
    }