
/* Updated CSS */
nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}
nav ul li a.active {
    background: black;
    color: white;
}
.content section {
    display: none;
}
.content section.active {
    display: block;
}


/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */
.navigation-buttons{
    position:fixed;
    margin-top: 10%;
    margin-left: 40%;
}

}